.brands-section {
  padding: 40px 0;
}

.icon-img {
  height: 60px;
  margin-bottom: 20px;
}

.brands-heading {
  font-size: 48px;
  color: #2A0000;
}

.brand-name {
  font-size: 32px;
  color: #2A0000;
  margin-bottom: 30px;
}
