@font-face {
  font-family: 'Libertinus';
  src: url('../public/fonts/LibertinusMath-Regular.otf');
  font-weight: normal;
  font-style: normal;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: "Libertinus";
  overflow-x: hidden;
}